@model Weltenretter2.Models.Bedrohung

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bedrohung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Existent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Existent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agressor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agressor.Nachname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Held)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Held.Nachname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BedrohungId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
